## Ignore everything so I can install skills in this folder without worrying about git.
## I will explicitly "unignore" the skills I want to track.
*
!.gitignore

## My skills
!babysit-coderabbit/
!babysit-coderabbit/**
!pr-description/
!pr-description/**
!next-increment/
!next-increment/**
!suggest-qa-plan/
!suggest-qa-plan/**
!summarize-code/
!summarize-code/**
!quality-check/
!quality-check/**

## Miscellaneous
!README.md
